@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM:ital,wght@0,100;0,200;0,400;0,600;1,400;1,500;1,900&display=swap');

:root{
    --font-borel: "borel";
    --txt-large: 28px;
    --txt-medium: 24px;
    --txt-small: 16px;
    --color-black: black;
    --color-white: white;
    
}

